---
const { title = "Dali" } = Astro.props;
const navItems = [
  { href: "/", label: "Home" },
  { href: "/artwork", label: "Artwork" },
  { href: "/visualiser", label: "Visualiser" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
